div {
   padding-left: 30px;
}

div.encounter_app_container {
   padding: 30px;
   width: 90%;
   height: 600px;
   border: 2px solid black;
   border-color: blue;
   padding: 120px,20px,20px,20px;
   margin: 20px;
   text-align: center
}
